<div class="view hm-black-strong">
	<div class="full-bg-img flex-center">
		<ul>
			<li>
				<h1 class="h1-responsive wow fadeInDown maintext" data-wow-delay="0.2s">S T R A T  R O U L E T T E</h1>
			</li>
			<li>
				<p class="wow fadeInDown maintext">Some text about Strat Roulette</p>
			</li>
			<li>
				<a href="@Url.Action("About","Home")" class="btn btn-primary btn-lg wow fadeInLeft" data-wow-delay="0.2s">Play Strat!</a>
				<a href="@Url.Action("Contact","Home")" class="btn btn-default btn-lg wow fadeInRight" data-wow-delay="0.2s">Something else</a>
			</li>
		</ul>
	</div>
</div>
<!--/.Mask-->
<!-- Main container-->
<div class="container">

	<div class="divider-new">
		<h2 class="h2-responsive wow bounceIn">About us</h2>
	</div>

	<!--Section: About-->
	<section id="about" class="text-center wow bounceIn" data-wow-delay="0.2s">

		<p>This website is made by enthusiastic programmers who have a love for having fun in games!</p> 
		<p>Everything you see here is made in our spare time and we appreciate every suggestion or contribution you send to us!</p>
		<p>We have created an API, with this API you can create your own app/website with the strats of this website!</p>

	</section>
	<!--Section: About-->

	<div class="divider-new">
		<h2 class="h2-responsive wow fadeInDown">Apps</h2>
	</div>

	<!--Section: Best features-->
	<section id="best-features">

		<div class="row">

			<!--First columnn-->
			<div class="col-lg-3">
				<!--Card-->
				<div class="card wow fadeInUp">

					<!--Card image-->
					<div class="view overlay hm-white-slight">
						<img src="http://www.kuenaimaku.com/assets/img/discordBot.jpg" class="img-fluid" alt="">
						<a>
							<div class="mask"></div>
						</a>
					</div>
					<!--/.Card image-->
					<!--Card content-->
					<div class="card-block text-center">
						<!--Title-->
						<h4 class="card-title">Discord Robot</h4>
						<hr>
						<!--Text-->
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
					</div>
					<!--/.Card content-->

				</div>
				<!--/.Card-->
			</div>
			<!--First columnn-->
			<!--Second columnn-->
			<div class="col-lg-3">
				<!--Card-->
				<div class="card wow fadeInUp" data-wow-delay="0.2s">

					<!--Card image-->
					<div class="view overlay hm-white-slight">
						<img src="http://in-shore.nl/wp-content/uploads/2014/06/android-logo.jpg" class="img-fluid" alt="">
						<a>
							<div class="mask"></div>
						</a>
					</div>
					<!--/.Card image-->
					<!--Card content-->
					<div class="card-block text-center">
						<!--Title-->
						<h4 class="card-title">Android App (Soon)</h4>
						<hr>
						<!--Text-->
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
					</div>
					<!--/.Card content-->

				</div>
				<!--/.Card-->
			</div>
			<!--Second columnn-->
			<!--Third columnn-->
			<div class="col-lg-3">
				<!--Card-->
				<div class="card wow fadeInUp" data-wow-delay="0.4s">

					<!--Card image-->
					<div class="view overlay hm-white-slight">
						<img src="https://www.iphoned.nl/wp-content/uploads/2015/08/app-store.jpg" class="img-fluid" alt="">
						<a>
							<div class="mask"></div>
						</a>
					</div>
					<!--/.Card image-->
					<!--Card content-->
					<div class="card-block text-center">
						<!--Title-->
						<h4 class="card-title">iOS App (Soon)</h4>
						<hr>
						<!--Text-->
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
					</div>
					<!--/.Card content-->

				</div>
				<!--/.Card-->
			</div>
			<!--Third columnn-->
			<!--First columnn-->
			<div class="col-lg-3">
				<!--Card-->
				<div class="card wow fadeInUp" data-wow-delay="0.6s">

					<!--Card image-->
					<div class="view overlay hm-white-slight">
						<img src="http://cdn2.alphr.com/sites/alphr/files/styles/16x9_540/public/2016/03/windows_store_apps_icon_flat_blue.png?itok=MDQ7TNVq" class="img-fluid" alt="">
						<a>
							<div class="mask"></div>
						</a>
					</div>
					<!--/.Card image-->
					<!--Card content-->
					<div class="card-block text-center">
						<!--Title-->
						<h4 class="card-title">Windows App (Soon)</h4>
						<hr>
						<!--Text-->
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
					</div>
					<!--/.Card content-->

				</div>
				<!--/.Card-->
			</div>
			<!--First columnn-->
		</div>

	</section>
	<!--/Section: Best features-->

</div>
<!--/ Main container-->
