@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Maintenance";
}

<h1 class="text-danger">The website is currently in maintenance.</h1>
<h2 class="text-danger">We will be back with you shortly!</h2>

