@{
	ViewBag.Title = "Contact";
}
<div class="box box-default">
	<div class="box-header with-border">
		<h3 class="box-title">@ViewBag.Title</h3>
		<div class="box-tools pull-right">
			<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div><!-- /.box-tools -->
	</div><!-- /.box-header -->
	<div class="box-body">
		<p>
			This website is made by enthusiastic programmers who have a love for having fun in games!
		</p>
		<p>
			Everything you see here is made in their spare time and we appreciate every suggestion you send to us!
		</p>

		<strong>Please send your ideas to</strong> <a href="mailto:stratgameroulette@gmail.com">Strat Roulette</a><br>
		<p>
			or join our <a href="https://discord.gg/011ow9wJwvIfYTgGx"><img src="~/Content/Images/discord_logo.png" target="_blank" height="50" width="150" /></a>
		</p>
	</div>
</div>

<div class="box box-default">
	<div class="box-header">
		<h3 class="box-title">
			Social Media
		</h3>
	</div>
	<div class="box-body">
		<a href="https://www.facebook.com/Dakpan94/" class="btn btn-block btn-social btn-facebook">
			<i class="fa fa-facebook"></i> Contact us thru Facebook
		</a>
		<a href="https://github.com/jeanpoelie/StratRoulette-C-" class="btn btn-block btn-social btn-github">
			<i class="fa fa-github"></i> Contribute on GitHub
		</a>
		<a href="https://plus.google.com/u/0/104377807065706661255" class="btn btn-block btn-social btn-google-plus">
			<i class="fa fa-google-plus"></i> Contact us thru Google
		</a>
		<a href="https://twitter.com/dakpan94" class="btn btn-block btn-social btn-twitter">
			<i class="fa fa-twitter"></i> Contact us thru Twitter
		</a>
	</div>
</div>