<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Betabot -->
    <add key="api_key" value="e5bTLflund2sdbbHlojeLtZPo4IH8FQryVfih9DApiWDMXoAxRINEgmjhqmjLNEU8jL9OGHFioRcD7ggk0vrwYTaaQwZ7H9uq0SY7fBhnRLHEIvG_vYS-mzQY2PePgspurj1NKe9HvxRG7R8uJe6pG9UTQSuofV07j8AM6Y8hQdruTPoktSHq-gNCiQrQ3qKtyZih2FBqCRqfv2K_TqzZNcGEZbJsOhSUlvlKf5UNt-TAR7pbT-Nt2PtaQ4RH8juy8jU4o4PiVpnZiqxr3JpwWbw2colOpLQaVeAkz7be6ezysgWGnw_REBFFteWCA7a1ppOQy5hJ0Yc-9o-IqVfmZnV6YQRWGsNmKgpOr1jTMrEuQChN4S4CXcGIjzJVsUA52XrucRtJWzUXJH7ffGE6GOBMfCHMVd_Uq3J69iSYfEvLn8rcJjPZlaX7M2fR_B2nk6aPFC58K-mXk5jGqHd_lZRWbnlxfwB-N1EuntO_FHQHD6-7Pn9OaFO77eipjRs"/>
    <add key="api_url" value="http://localhost:56617/api/"/>
    <add key="bot_token" value="Mjk5NjAwNzM5NzIxMDE5NDEy.C8gXjQ.Ob8VO7DSmegX6dPITPt5gffdk4Y"/> 
    <add key="bot_prefixmessage" value="!stratbeta"/>
    <add key="bot_clientid" value="299600739721019412"/>
    
    <!-- production app -->
    <!--<add key="api_key" value="KiQuz3RpdTV9iqQ__mcqemnyr28BCfIdtz2lz5KSdtmLsYPq9R0795aemMVvEPfaefHSFwMQSwlKG9l6lKKxXiO3VFDilPxBG4Tcnp_8CH6om-VNb3gXPldh3YhJeY6QDGs425vC8RNV_J04HGjZjCypSuEfZcmeGSgq_tlNuPeV19xv4SiUv9pGhTDHYCz9VkoMR6zqMXNaCAEFEWurjU_YcImaEvgF2V2xBSDpUlaBZad2SV8D3ENKvB-T3uFWdfc3J38HPzqneVYklc4cTYT__RiSmfo2BKbqjABFYWddpniJ9rlviTkWpllUd4uCzVfJKv0P7Xzivvgi6wMsRfu8eGmBb0dc50rI4aDOC0cPsaMT53R-TRsmzF8j4UeJ75UX6ifYDDBKKSzD-G41-U1S_U7AcirRDtKbBhnPNjLaU72hioR1uPo0lYNd0saP698DET10oyNduzh6nwtCSFNAkva9k26zRqXs_O9eT00"/>
    <add key="api_url" value="http://api.dakpangames.com/api/"/>
    <add key="bot_token" value="Mjk4NTM0MzE3MDMyOTk2ODY0.C8lP3w.JcxS3S3V4EqXZ42_G8gGXxoDDkU"/>
    <add key="bot_prefixmessage" value="!strat"/>
    <add key="bot_clientid" value="298534317032996864"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
